<h2> Hola {{ nombre }} </h2>
<p>
  Bienvenido!
  <br>
  Su usuario es : <b> {{ usuario }} </b>
  <br>
  Por su seguridad, no le podemos compartir su contraseña. Si desea cambiarla, entre en la plataforma.
  
</p>