<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ assetsUrl('descarga.ico') }}>
    <title>Inventario</title>
    {{ style('bootstrap.min') }}
    {{ style('dashboard') }}
    {{ style('bootstrap-theme.min') }}
  </head>
  <body>
    @include('includes/navbar')
    @include('includes/register')
    <main role="main" >
        @if(flashMessage('notification'))
          <div class="alert alert-{{ flashMessage('notification.type') }}">
            {{ flashMessage('notification.message') }}
          </div>
        @endif
        <div class="row mt-1">
          <div class="col-sm-6">
              <div class="card m-2">
                <div class="card-body">
                  @!section('contenido')
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="card text-white bg-dark mb-3 text-center m-2" >
                <div class="card-header">Si no tiene usuario, registrese.</div>
                <p class="card-text">
                  @!section('logear')
                </p>
              </div>
          </div>
        </div>
      </main>

      {{ script('jquery-3.3.1.slim.min.js') }}
      {{ script('bootstrap.min.js') }}
  </body>
</html>