<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ assetsUrl('descarga.ico') }}>
    <title>Inventario</title>
    {{ script("http://code.jquery.com/jquery-1.11.3.min.js") }}
    {{ style('bootstrap.min') }}
    {{ style('dashboard') }}
    {{ style('bootstrap-theme.min') }}
  </head>
  <body>
    @include('includes/navbar')

    <main role="main" >
        <table class="table">
           <tr>
             <th scope="col">
             <div class="row">
               <div class="col-sm-7">
                 <div class="card">
                         @!section('contenido')
                 </div>
               </div>
               <div class="col-sm-4">
                 <div class="card text-white bg-dark mb-3 text-center" >
                 <div class="card-header">Si no tiene usuario, registrarse.</div>
                 <p class="card-text">
                         @!section('logear')
                 </p>
               </div>
               </div>
               </div>
             </th>
           </tr>
       </table>
       </main>

  </body>
</html>