<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="shortcut icon" href="descarga.ico" />
    {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}

</head> 
<body>
    
<nav class="navbar is-dark">
    <div class ="container">
        <div class="navbar-brand">
            <a class="navbar-item" href= "/">Inicio</a>
            <button class="button navbar-burger">
            <span></span>
            <span></span>
            <span></span>
            </button>
        </div> 
         <div class="navbar-menu">
            <div class ="navbar-end">
                @loggedIn
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                            {{auth.user.usuario}}
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/logout">Salir</a>
                    </div>
                  </div>
                @else
                <a class="navbar-item" href="/login">Ingresar</a>
                <a class="navbar-item" href="/register">Registrar</a>
                @endloggedIn
            </div>     
        </div>      

    </div>


</nav>


<div class="section">
    <div class="container">

        
                    @!section('contenido')
                
    </div>
</div>
    

    {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js')}}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')}}
    {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js') }}
</body>
</html>