@layout('main')

@section('titulo')
Bienvenido
@endsection



@section('contenido')
    <div class="logo"></div>
    <h2>Bienvenido usuario! </h2>
    <center><img src="inventarios.png"width="325" height="150" ></center>
    
    <p>
    <center>Ingresa para poder trabajar en tu inventario </center>

@endsection
