@layout('main')

@section('titulo')
Bienvenido
@endsection



@section('contenido')
    <div class="logo"></div>
    <h2>Bienvenido usuario! </h2>
    <p>
    <h3>Cargue sus productos</h3>
        <a href="/producto/agregar"> Agregar </a>
    </p>
    <p>
    <h3>Venta </h3>
        <a href="/venta/crearventa"> Nueva venta </a>
    </p>
@endsection
