@layout('main')

@section('titulo')
Bienvenido
@endsection

@section('contenido')
    <div class="logo"></div>
    <h2>Bienvenido usuario! </h2>
    <p>
    <h3>Cargue sus productos</h3>
        <a href="#"> Agregar </a>
    </p>
    <p>
    <h3>Venta </h3>
        <a href="#"> Nueva venta </a>
    </p>
@endsection
