
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ assetsUrl('descarga.ico') }}>
    <title>Inventario</title>
    {{ style('bootstrap.min') }}
    {{ style('dashboard') }}
    {{ style('bootstrap-theme.min') }}
  </head>

  <body>
    <div class="wrapper">
      @include('includes/sidebar')
      <div id="content">
          @include('includes/navbar')
          <div class="container-fluid">
            @if(flashMessage('notification'))
              <div class="alert alert-{{ flashMessage('notification.type') }}">
                {{ flashMessage('notification.message') }}
              </div>
            @endif
            <br>
            <div class="card">
              <div class="card-header">
                @!section('titulo')  
              </div>
              <div class="card-body">
                @!section('contenido')
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </body>
  <footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ script('jquery-3.3.1.slim.min') }}
    {{ script('bootstrap.min') }}
    {{ script('sidebar') }}

    
    <!-- Icons -->
    {{ script('feather.min') }}
    <script>
      feather.replace()
    </script>
  </footer>
</html>